#calendar-header-container {
  width: 100%;
  height: 30px;
  padding: 10px 0px;
  background-color: #00CCCC;
  float: left;
  position: relative;
  z-index: 1000;
}
#calendar-header-container .ch-item {
  width: 18%;
  margin: 0% 1%;
  padding-top: 3px;
  padding-bottom: 3px;
  float: left;
  display: relative;
  z-index: 1000;
}
#calendar-header-container #ch-year:hover {
  cursor: pointer;
}
#calendar-header-container #ch-month:hover {
  cursor: pointer;
}
#calendar-header-container #ch-holiday:hover {
  cursor: pointer;
}
#calendar-header-container #ch-today {
  text-align: center;
  background-color: white;
}
#calendar-header-container #ch-today:hover {
  cursor: pointer;
}
#calendar-header-container #ch-now {
  color: #ccc;
  font-size: 15px;
  text-align: center;
  background-color: white;
  width: 36%;
}
#calendar-header-container #ch-year-items {
  height: 100px;
}
#calendar-header-container #ch-month-items {
  height: auto;
}
#calendar-header-container .ch-pre {
  color: #ccc;
  float: left;
  border: 1px solid #ccc;
  background-color: white;
}
#calendar-header-container .ch-next {
  color: #ccc;
  float: right;
  border: 1px solid #ccc;
  background-color: white;
}
#calendar-header-container .ch-selector-container {
  padding-left: 3px;
  padding-right: 3px;
  overflow: hidden;
  text-align: center;
}
#calendar-header-container .ch-selector-container .ch-selector {
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
}
#calendar-header-container .ch-selector-container .ch-selector-items {
  width: 100%;
  background-color: white;
  overflow: auto;
  display: none;
}
#calendar-header-container .ch-selector-container .ch-selector-items .ch-selector-item {
  display: relative;
  width: 100%;
  list-style-type: none;
  height: 20px;
  margin-bottom: 2px;
}
#calendar-header-container .ch-selector-container .ch-selector-items .ch-selector-item:hover {
  background-color: #77A1B4;
}
